<% @page_title = "Reset Password" %>

<h1>Change your Password</h1>

<div class="ticket">
	<h2>So you forgot your password?</h2>
	<p>In the interests of security, rather than telling you your old password we'll get you to pick a new one.</p>
	
	<p>Please choose a <b>new Password</b> and confirm it below:</p>
	
	<%= error_messages_for :password %>

	<% form_for :password, :url => {:controller => 'index', :action => 'reset_password', :id => @password_reset_code} do |f| %>

		<p>New Password:<br /><%= password_field_tag 'password', :value => "" %></p>

		<p>Confirm New Password:<br /><%= password_field_tag 'password_confirmation' %></p>

		<p><%= submit_tag 'Change your Password' %></p>
	<% end %>
	
	<p class="note">Still having problems logging in? <%= link_to "Let us know", new_feedback_path %></p>
</div>
