<% @autorss= "<link rel='alternate' type='application/rss+xml' title='#{@user.login}&apos;s RSS Feed' href='#{users_rss_feed_path(@user.login)}' />" -%>
<% @autorss+= "<link rel='alternate' type='application/atom+xml' title='#{@user.login}&apos;s ATOM Feed' href='#{users_atom_feed_path(@user.login)}' />" -%>

<% @page_title = strip_tags(@user.login) -%>
<% @meta_author = @user.login %>
<div id='users_show'>
	<div class="user-photo left">
        <%= link_to gravatar(@user.email), login_name_path(@user) %>
	</div>
	<h1><span class="left"><%= link_to "Users", users_path %>/<%= link_to strip_tags(@user.login), login_name_path(@user) %></span><span class="right"><%= @user.tickets.size %></span></h1>

	<% if current_user == @user %>
		<%= render :partial => 'tickets/new_ticket' %>
	<% end %>

	<% if @tickets.blank? %>
		<div class="ticket">		
			<% if @user.tickets.count > 0 %>
				<h2>No Public tickets</h2>
				<p>This user has not created any public tickets, very secretive!</p>
			<% else %>
				<h2>No Tickets created yet</h2>
				<p>This user has not created any tickets yet, lazy bum!</p>
			<% end %>
		</div>
	<% else %>
		<div id='tickets'>
			<% for ticket in @tickets %>
				<%= render :partial => 'tickets/ticket', :locals => {:ticket => ticket, :type => 'user'} %>
			<% end %>
			<%= will_paginate @tickets %>
		</div>
	<% end %>
</div>